@import "@material/top-app-bar/mdc-top-app-bar";

@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

body {
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}




@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

.mdc-list-item__text {
  white-space: normal;

}

.mdc-list-item {
  min-height: 48px;
  height: auto;
  padding: 5px 16px;

}

.tablica {
  display: table;
}

.yacheika {
  display: table-cell;
  padding: 0px 10px 0px 0px;
}
